{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Редактировать профиль" %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{% trans "Сохранить" %}</button>
    <a href="{% url 'users:profile' %}" class="btn btn-secondary">{% trans "Отмена" %}</a>
</form>
{% endblock %}

{# === <hr>=== #}

{# === УСЛОВИЯ В ЗАВИСИМОСТИ ОТ РОЛИ === #}

{# ==={% if request.user.role == "candidate" %}=== #}
{# ===<a href="{% url 'candidates:cv_create' %}" class="btn btn-primary mt-3">=== #}
 
        {# === {% trans "Создать резюме (CV)" %}=== #}
        {# === </a>=== #}
    {# === {% endif %}=== #}

{# === {% if request.user.role == "employer" %}=== #}
{# === <a href="{% url 'Job:create_job' %}" class="btn btn-warning mt-3">=== #}
        {# ===  {% trans "Создать вакансию" %}=== #}
        {# ===  </a>=== #}
    {# === {% endif %}=== #}

{# === {% endblock %} === #}

