{% extends "main/base.html" %}
{% load i18n %}


{% block title %}Главная — Training Center{% endblock %}

{% block content %}
    <h1 class="mb-4">Добро пожаловать в Training Center!</h1>
    <p class="mb-4">Выберите раздел:</p>

    <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary btn-lg" href="/candidates/">Кандидаты</a>
        <a class="btn btn-success btn-lg" href="/employers/">Работодатели</a>
        <a class="btn btn-warning btn-lg" href="/jobs/">Вакансии</a>
    </div>
{% endblock %}
